* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.btn {
  margin-right: 25px;
  margin-left: 25px;
  font-weight: 700;
  font-family: sans-serif;
  width: 160px;
  height: 55px;
  font-size: 22pt;
  border-radius: 30pt;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  transition: all 1s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #7580f4;
  box-shadow: 4px 2px 4px #000;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
#load_icon_progress {
  animation: load 5s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}
.scale_icon_progress {
  animation: load2 1s ease-in-out linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes load {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes load2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
